*{
  box-sizing: border-box;
}
body{
  background-color: rgb(30, 39, 198);
}
img{
  padding: 50px;
  padding-left: 250px;
  padding-bottom: 10px;
}
h1{
padding-left:400px;
color: rgb(239, 26, 26);

}
