*{
  box-sizing: border-box;
}
body{
  background-color: rgb(30, 39, 198);
}
img{
  padding: 50px;
  padding-left: 250px;
  padding-bottom: 10px;
}
h1{
padding-left:400px;
color: rgb(247, 241, 241);
font-size: 40px;

}
.p-1{
  color: beige;
  font-size: 20px;
}